

/* Omit heading styles from: */

img{

	max-width: 100%;
}

ul{

	list-style: none;
	padding: 0;
}

nav ul ul{

	height: 0;
	overflow: hidden;
	opacity: 0;
}

nav li:hover ul{

	display: block;
	height: auto;
	opacity: 1;
}

ul.carousel-inner ul{

	height: auto;
	display: block;
	opacity: 1;
}


/* Header */


#header h1{

	margin: 0;
}
/* Search Form */

/* Pages Menu */

#PagesMenu > ul > li:hover > ul{

    display: block;
}

#PagesMenu > ul ul a{

    font-size: 13px;
    line-height: 30px;
    padding: 0 10px;
    display: block;
	white-space: nowrap;
}

/* Top Menu*/

#TopMenu{

	display: inline-block;
	float: right;
}

#TopMenu ul{

	display: inline-block;
	background: #333;
	border-radius: 0 0 4px 4px;
}

#TopMenu ul li a:hover{

	background: transparent;
	text-decoration: underline;
}

/* Homepage Accordion */

.panel-heading .caret-down, .panel-heading .caret-right{

	margin-right: 10px;
}

/* Best Sellers */

#best-sellers{

	margin-bottom: 15px;
}

#add-to-cart-box .col-md-6{

	margin-bottom: 20px;
}

#add-to-cart-box .input-group{

	width: 100%;
}

.share-buttons > div{

	padding: 0;
}

/* Footer */

#footer{

    background: #e1e2e0;
    padding-bottom: 25px;
    padding-top: 15px;
}

#footer-bottom{

	font-size: 12px;
	padding: 15px 0;
	text-align: center;
}

/* Category & Search page Shared Styles */

#category-paging-top ul, #search-paging-top ul{

    margin: 0;
}

#SearchContainer .ProductList{

    margin-top: 4em;
}

#search-toolbar{

    margin-top: 1em;
}

.social-buttons > div{

    margin: 0;
    float: left;
}

.AddThisButtonBox{

    margin: 0 !important;
}

#maintenance_notice{

    display: none !important;
}


/* Bootstrap Alterations */

.well dl{

	margin: 0;
}

.row-eq-height .alert{

    margin: 0 15px;
}

.btn-lg .glyphicon{ /* For checkout page */

    top: 2px;
    padding: 0 7px;
}

.CartThumb .thumbnail{

	margin-bottom: 0;
}





