/*#socnet a {

	display:inline-block;
	text-align:left;
	text-indent:-9999px;
	margin-right: 12px;
}

#socnet a:last-child{

	margin-right: 0;
}*/

@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('%%ASSET_fonts/MonoSocialIconsFont-1.10.eot%%');
    src: url('%%ASSET_fonts/MonoSocialIconsFont-1.10.eot?#iefix%%') format('embedded-opentype'),
         url('%%ASSET_fonts/MonoSocialIconsFont-1.10.woff%%') format('woff'),
         url('%%ASSET_fonts/MonoSocialIconsFont-1.10.ttf%%') format('truetype'),
         url('%%ASSET_fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont%%') format('svg');
    src: url('%%ASSET_fonts/MonoSocialIconsFont-1.10.ttf%%') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {

    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {

    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

#socnet{

    float: right;
    display: inline-block;
    margin-right: 1em;
}

#socnet li{

	display: inline-block;
}

#socnet a{

	line-height: 2.57em;
}

#socnet a:hover{

	text-decoration: none;
}

#socnet .symbol{

	font-size: 26px;
	line-height: 24px;
	vertical-align: middle;
    transition: all 200ms linear;
}

#socnet a:hover .symbol{

	color: #000;
}