/* --- Alerts --- */

.alert ul{

	margin-left: 1.1em;
}

/* --- Blog --- */

ul.blog-tags:before{

	content:"Tags:";
	font-weight: bold;
	padding-right: 0.5em;
}

ul.blog-tags li{

	display: inline-block;
	list-style: none;
	padding-right: 4px;
}

ul.blog-tags li span{

	background: rgba(255,255,255,0.5);
	line-height: 24px;
	border:1px solid #ddd;
	padding: 0 10px;
	border-radius: 3px;
}

/* --- Product Listings --- */

span.or{

	padding: 0 1em;
}

main{

    margin-bottom: 25px;
}

/* Quick Search */

#form-search{

	padding: 0;
}

#form-search .dropdown-menu{

	border-width: 0;
	margin: 0;
	padding: 0;
}

#form-search #search_results li .thumbnail{

	max-width: 48px;
	float: left;
	margin: 0;
}

#form-search #search_results{
	
	border-radius: 0 0 4px 4px;
	width: 100%;
}

#form-search #search_results li h4{

	font-size: 14px;
}

#form-search #search_results  li.list-group-item:first-child{

	border-top-width:0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#form-search.has-results input[type=text]{

	border-bottom-left-radius: 0;
}

#form-search.has-results button{

	border-bottom-right-radius: 0;
}

#form-search.no-results #search_results{

	display: none;
	opacity: 0;
	transition: all 300ms linear;
}

#form-search.has-results #search_results{

	display: block;
	opacity: 1;
	transition: all 300ms linear;
}

/* Cart */

body.page-cart td{

	vertical-align: middle !important; /* Bootstrap override */
}

/* Brand Tag Clouds */

.BrandCloud a { padding-right:5px; }
.BrandCloud .smallest { font-size:0.8em; }
.BrandCloud .small { font-size:1em; }
.BrandCloud .medium { font-size:1.4em; }
.BrandCloud .large { font-size:2.3em; }
.BrandCloud .largest { font-size:3em; }

/* Express Checkout */

.ExpressCheckoutTitle.well{

	padding: 0 15px;
}

.ExpressCheckoutContent{

	margin: 0 25px;
}

.ExpressCheckoutBlockCollapsed .ExpressCheckoutContent {
	display:none;
}
a.ChangeLink {
	position:absolute;
	right:15px;
}
.ExpressCheckoutBlock a.ChangeLink {
	display:none;
}
.ExpressCheckoutBlockCompleted a.ChangeLink {
	display:none;
}

.CartContents .CartProductFieldsLink {
	font-size:11px;
	margin-top:6px;
	padding-left:22px;
	background:url('%%GLOBAL_TPL_PATH%%/images/GiftWrappingAvailable.gif') no-repeat;
	padding-bottom:4px;
}

.TagList {

	margin-top:20px;
}

.CartThumb img {

	max-height:80px;
}

.OrderItemMessage {

	padding:7px;
	margin: 10px 0px 10px 0px;
}


/* --- Loading Slidedown Indicator */

#loading{

	background: rgba(0,0,0,0.75);
	color: #fff;
	padding: 15px 0;
	font-size: 18px;
	font-weight: 600px;
	position: absolute;
	top:0;
	left: 0;
	right:0;
	z-index: 99999999;
	display: none;
}

#loading i{

	vertical-align: text-top;
	margin-right: 0.5em;
}

/* Product Videos */

#VideoList li {
	float:left;
	list-style:none;
	margin:10px 10px 10px 0;
	padding:0;
	height:180px;
	opacity:0.5 !important;
	filter:alpha(opacity = 50) !important;
}
#VideoList li:hover,
#VideoList li.currentVideo {
	opacity:1 !important;
	filter:alpha(opacity = 100) !important;
}
.VideoSeparator {
	clear:both;
}
.videoRow {
	margin-bottom:4px;
}
.previewImageContainer {
	height:30px;
	width:50px;
}
.videoRow img {
	float:left;
	width:126px;
	height:104px;
}
.videoRowTitle {
	overflow:hidden;
	width:126px;
	font:12px/14px "Trebuchet MS",Helvetica,sans-serif;
	display:block;
	padding:5px 0;
}
.videoRowDescription {
	max-height:50px;
	overflow:hidden;
}
.VideoOverlay {
	background:url('%%GLOBAL_TPL_PATH%%/images/VideoOverlay.png')center center no-repeat;
	position:absolute;
	left:0;
	height:100%;
	width:100%;
	top: 0;
}
.VideoPreviewSize { 
	/* 
	 * If you change the width of the .VideoPreviewSize class 
	 * below,change the padding-left of the .VideoContentContainer 
	 * class above
	*/
	height:104px;
	width:126px;
}
.videoRowLength {
	padding-left:4px;
}
.videoRow,.videoRowTitle,
.videoRow img,.videoRowLength {
	cursor:pointer;
}
#VideoList ul {
	position:relative;
	overflow-y:auto;
	padding:0;
	margin:0 -10px 0 0;
}
#VideoSingle {
	font-size:14px;
	padding:10px 0;
	width:240px;
}
#VideoContainer {
	padding:10px 0;
}
.HideElement {
	display:none;
}
.VideoSingleTitle {
	font-weight:bold;
}
.VideoSingleDescription {
	padding-top:10px;
	overflow-y:auto;
	height:220px;
	padding-right:5px;
	display:none;
}
.Left #VideoMiddleContainer,
.Right #VideoMiddleContainer {
	display:none;
}
.Content #VideoSideContainer {
	display:none;
}
#VideoSideContainer ul {
	text-align:center;
}
#VideoSideContainer ul li {
	margin-bottom:5px;
}
.VideoSideDescription {
	padding:2px 10px;
}
.VideoImageContainer {
	position: relative;
}

/* --- Modals --- */

#ModalContainer {
	border:5px solid;
	left: 50%;
	background: #fff;
	position: relative;
}

#ModalContent, .ModalContent {

	max-height: 550px;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-o-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

#ModalContentContainer{

	padding: 15px;
}

#ModalOverlay{

	background: rgba(0,0,0,0.75);
}

.modalClose {

	content: "\e014";
	position: absolute;
	right: 7px;
	top: 7px;
	display: block;
	z-index: 9999;
	text-align: left;
	font-family: 'Glyphicons Halflings';
	font-size: 20px;
	height: 20px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	text-indent: -9999px;
}

/* --- Fast Cart --- */

#fastCartContainer .ProductDetails {

	min-height: 0;
}

#fastCartContainer .ProductActionAdd{

	clear: both;
	text-align: center;
}

#fastCartContainer .ProductList li{

	background: transparent;
	box-shadow: 0 0 0 transparent;
}

#fastCartContainer .ProductList li .spacer{

	background: #fff;
	border:1px solid #ddd;
	border-radius: 10px;
	padding: 10px;
}

#fastCartContainer .ProductList li .ProductName{

	font-size: 16px;
}

#fastCartContainer .ProductList li .ProductName a{

	line-height: 40px;
}

#fastCartContainer .ProductList li .ProductImage, 
#fastCartContainer .ProductList li .ProductDetails{

	width: auto;
	float: none;
	padding: 0;
	text-align: center;
}

#fastCartContainer .ProductList li .ProductImage{

	min-height: 180px;
}

/* --- Wish List Form --- */

#wishlistsform table .action {

	text-align: center ;
	white-space: nowrap;
}

#wishlistsform .action div {

	width:20px;
	height:20px;
	float: none;
	margin: 0 2px;
	text-align:left;
	text-indent: -99999px;
	overflow: hidden;
	display: inline-block;
}

#wishlistsform .action a {

	display: block;
	width:20px;
	height:20px;
}

/* --- Cookie Notification --- */

#cookieNotification {
	max-height: 88px;
}
#cookieNotification .cookie-inner {
	max-width: 940px;
	width: 100%;
}
#cookieNotification p {
	float: none;
}
#cookieNotification button {
	float: right;
	margin: 17px 0 0 0;
}
@media screen and (max-width: 768px) {
	#cookieNotification p {
		font-weight: normal;
		line-height: 14px;
		font-size: 90%;
	}
	#cookieNotification .icon-info {
		display: none;
	}
	#cookieNotification button {
		margin-top: 0;
	}
}

/* --- Site Map --- */

#SitemapContent ul li{

	list-style: none;
}


/* --- Product List --- */

.ProductList > li{

	margin-bottom: 2em;
}

.product-rating {
	
	line-height: 2.5em;
	text-align: center;
	font-size: 18px;
}


/* --- Product Slider & Product Modal Slider --- */

#product-image-carousel, #product-image-carousel-modal{

	position: relative;
	text-align: center;
}

#product-image-carousel .carousel-inner img, 
#product-image-carousel-modal .carousel-inner img{

	max-height: 400px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}

#product-image-carousel .carousel-inner .item, 
#product-image-carousel-modal .carousel-inner .item{

/*	min-height: 400px;
	line-height: 400px;*/
}

.zoomContainer{

	z-index: 999999;
}

#product-image-carousel .carousel-control{

	line-height: 400px;
	color: #0157cf;
	opacity: 1;	
}

#product-image-carousel .carousel-control span{

	display: none;
}

#product-image-carousel .product-image-thumbnails{

	margin-top: 75px;
}

#product-image-carousel .pagination a span{

	display: none;
}

.product-image-thumbnails{

	text-align: center;
}

.product-image-thumbnails img{

	max-width: 100%;
	max-height: 100%;	
}

.product-image-thumbnails li{

	border: 5px solid transparent;
	border-radius: 4px;
	transition: all 200ms ease-in-out;
	margin: 0 12px;
	display: inline-block;
	height: 100px;
	width: 100px;
}

.product-image-thumbnails li.active{

	border:5px solid #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	transform: scale(1.1); 
}

.product-image-thumbnails li:hover{

	border:5px solid #fff;
	transform: scale(1.1); 
}


/* --- Product Options --- */

.productOptionViewRectangle .list-horizontal li{

	border: 5px solid transparent;
	border-radius: 4px;
	text-align: center;
}

.productOptionViewRectangle .list-horizontal li .name{

	cursor: pointer;
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: block;
	text-align: center;
	border-radius: 4px;
}

.productOptionViewRectangle .list-horizontal li.selectedValue{

	border: 5px solid #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	background: rgb(47,211,14);
	color: #fff;
}

.productOptionViewRectangle .list-horizontal li input{

	display: none;
}


/* --- Product Color Swatches --- */

.productOptionPickListSwatch li{

	padding: 0;
	margin: 0;
}

.productOptionPickListSwatch li .swatchColour{

	cursor: pointer;
	width:25px;
	height:25px;
	display: block;
}

.productOptionPickListSwatch li label, .productOptionViewRectangle .list-horizontal li label{

	margin: 0;
}

.productOptionPickListSwatch li span.name, .productOptionPickListSwatch li input{

	display: none;
}


/* --- Currency Chooser --- */

.currency-info, #change-currency{

    display: none;
}

.CurrencyChooser{

    cursor: pointer;    
}

.CurrencyChooser .BlockContent{

    display: none;
}

.selected-currency .Text{

    font-size: 10px;
    padding-left: 3px;
}

.CurrencyChooser:hover .BlockContent{

    display: block;
    padding: 5px;
    width: 100%;
    border-top: 1px solid transparent;
    z-index: 99999;
}

.CurrencyChooser .caret{

    position: absolute !important;
    right: 9px;
    top: 40%;
}

.CurrencyChooser dl{

    margin-bottom: 0;
    font-size: 10px;
}

.ChooseCurrencyBox{

    text-align: center;
}

.ChooseCurrencyBox .Flag{

    margin-right: 5px;
}


/* --- Coupon Code & Gift Certificate Boxes --- */

.CartCode > .CouponCode p, .GiftCertificate p{

    min-height: 3em;
}

/* Cart */

.table .shipping-estimator td{

	border-width: 0;
	padding: 0;
}